/* line 1, ../scss/partials/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/partials/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1;
  font-size: 100%;
  font-style: normal;
  list-style-type: none;
  vertical-align: baseline;
  background: transparent;
}

/* line 31, ../scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 35, ../scss/partials/_reset.scss */
abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

/* line 39, ../scss/partials/_reset.scss */
a {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

/* line 48, ../scss/partials/_reset.scss */
a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

/* line 52, ../scss/partials/_reset.scss */
body {
  font-style: normal;
}

/* line 55, ../scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 58, ../scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 63, ../scss/partials/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 66, ../scss/partials/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../scss/partials/_reset.scss */
ins {
  color: #000;
  text-decoration: none;
  background-color: #ff9;
}

/* line 79, ../scss/partials/_reset.scss */
mark {
  color: #000;
  font-style: italic;
  font-weight: bold;
  background-color: #ff9;
}

/* line 85, ../scss/partials/_reset.scss */
table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 90, ../scss/partials/_reset.scss */
input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  outline: 0;
}

/* line 96, ../scss/partials/_reset.scss */
input {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
}

/* line 107, ../scss/partials/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  left: -9999px;
}

/* line 118, ../scss/partials/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 122, ../scss/partials/_reset.scss */
input[type="search"] {
  outline: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 129, ../scss/partials/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  outline: 0;
  -webkit-appearance: none;
}

/* line 135, ../scss/partials/_reset.scss */
input::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}

/* line 136, ../scss/partials/_reset.scss */
input:-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}

/* line 137, ../scss/partials/_reset.scss */
input::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}

/* line 138, ../scss/partials/_reset.scss */
input:-ms-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}

/* line 140, ../scss/partials/_reset.scss */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 141, ../scss/partials/_reset.scss */
input:focus:-moz-placeholder {
  color: transparent;
}

/* line 142, ../scss/partials/_reset.scss */
input:focus::-moz-placeholder {
  color: transparent;
}

/* line 143, ../scss/partials/_reset.scss */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 144, ../scss/partials/_reset.scss */
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 145, ../scss/partials/_reset.scss */
textarea:focus:-moz-placeholder {
  color: transparent;
}

/* line 146, ../scss/partials/_reset.scss */
textarea:focus::-moz-placeholder {
  color: transparent;
}

/* line 147, ../scss/partials/_reset.scss */
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/hinted-HelveticaNeue-Light.eot");
  src: url("../fonts/hinted-HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/hinted-HelveticaNeue-Light.woff") format("woff"), url("../fonts/hinted-HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/hinted-HelveticaNeue.eot");
  src: url("../fonts/hinted-HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-HelveticaNeue.woff2") format("woff2"), url("../fonts/hinted-HelveticaNeue.woff") format("woff"), url("../fonts/hinted-HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/hinted-HelveticaNeue-Medium.eot");
  src: url("../fonts/hinted-HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/hinted-HelveticaNeue-Medium.woff") format("woff"), url("../fonts/hinted-HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/hinted-HelveticaNeue-Bold.eot");
  src: url("../fonts/hinted-HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/hinted-HelveticaNeue-Bold.woff") format("woff"), url("../fonts/hinted-HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* line 1, ../scss/partials/_custom.scss */
.container-fluid {
  width: 100%;
  min-width: 1263px;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  position: relative;
}

/* line 12, ../scss/partials/_custom.scss */
.row {
  margin: 0;
  padding: 0;
}

/* line 16, ../scss/partials/_custom.scss */
.clear, .clear:before, .clear:after {
  clear: both;
}

/* line 19, ../scss/partials/_custom.scss */
.icons {
  background-image: url(../i/web/icons.png);
  background-position: 0 0;
}

/* line 24, ../scss/partials/_custom.scss */
.hol-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 32, ../scss/partials/_custom.scss */
.ver-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 40, ../scss/partials/_custom.scss */
.cen-z {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 48, ../scss/partials/_custom.scss */
.mix-xy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 1, ../scss/partials/_dashboard.scss */
h1 {
  color: #333;
}

/*# sourceMappingURL=style.css.map */
