.container-fluid {
	width: 100%;
	min-width: 1263px;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue';
	font-weight: normal;
	font-style: normal;
	color: #fff;
	position: relative;
}
.row {
	margin: 0;
	padding: 0;
}
.clear, .clear:before, .clear:after {
	clear: both;
}
.icons {
	background-image: url(../i/web/icons.png);
	background-position: 0 0;
}

.hol-x {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.ver-y {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.cen-z {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.mix-xy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin circle() {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
@mixin ver() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@mixin input ($color,$fontsize,$colorplace) {
	display: block;
	height: 100%;
	width: 100%;
	color: $color;
	font-size: $fontsize;
	border: none;
	outline: none;
	background:transparent;
	margin: 0;
	padding: 0;
	&::-webkit-input-placeholder {
		color: $colorplace;
		opacity: 1;
	}
	&::-moz-placeholder  {
		color: $colorplace;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: $colorplace;
		opacity:1;
	}
	&:-moz-placeholder {
		color: $colorplace;
		opacity: 1;
	}
	&:focus::-webkit-input-placeholder {
		color: transparent; 
	}
	&:focus:-moz-placeholder {
		color: transparent; 
	}
	&:focus::-moz-placeholder {
		color: transparent; 
	}
	&:focus:-ms-input-placeholder {
		color: transparent; 
	}
}